<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery-1.6.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/tms-0.3.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/tms_presets.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/script.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>

</body>
</html>
