@model MVCPatientApp.Models.Patient

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<style type="text/css">

    .roundedcorner {
        background: #fff;
        font-family: Times New Roman, Times, serif;
        font-size: 11pt;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 3px;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
        width: 250px;
        height: 20px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }
</style>

<body id="page3">
    <div class="body1">
        <div class="main">
            <!--header -->
            <header>
                <div class="wrapper">
                    <h1><a href="index.html" id="logo">Agrox Agriculture Company</a></h1>
                    <nav>
                        <ul id="menu">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="@Url.Action("Create", null, new { area = string.Empty, controller = "Patient" }, Request.Url.Scheme)">Registration</a></li>
                            <li><a href="products.html">Patient List</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- / header -->
            <!-- content -->
            <article id="content">
                <div class="wrapper">
                    <h2>New Patient Registration</h2>
                    <div class="wrapper pad_top1">
                        <div class="marg_right1">
                            <p class="color1 pad_bot1 pad_top1">Enter patient information below.</p>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InsuranceCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.InsuranceCompany, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.InsuranceCompany, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdditionalComments, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AdditionalComments, new { htmlAttributes = new { @class = "roundedcorner"} })
                            @Html.ValidationMessageFor(model => model.AdditionalComments, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.CurrentDate, new { @Value = @DateTime.Now.ToShortDateString(), @class = "roundedcorner"})

                            @Html.ValidationMessageFor(model => model.CurrentDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="main">
        <!-- footer -->
        <footer>
            <div class="wrapper">
                <section class="col2">
                    <div class="wrapper">
                        <section class="col4">
                            <h3>Follow Us </h3>
                            <ul id="icons">
                                <li><a href="#"><img src="images/icon1.jpg" alt=""><span>Facebook</span></a></li>
                                <li><a href="#"><img src="images/icon2.jpg" alt=""><span>Twitter</span></a></li>
                                <li><a href="#"><img src="images/icon3.jpg" alt=""><span>Linked In</span></a></li>
                            </ul>
                        </section>
                        <section class="col4 pad_left1">
                            <h3>Why Us </h3>
                            <ul id="why_us">
                                <li><a href="#">Sed perspiciatis unde </a></li>
                                <li><a href="#">Omnis natus error</a></li>
                                <li><a href="#">Voluptatem accusantium </a></li>
                            </ul>
                        </section>
                    </div>
                    <div id="footer_link">
                        Copyright &copy; <a href="#">Duncan Li Portfolio</a> All Rights Reserved<br>
                        Design by <a target="_blank" href="http://www.templatemonster.com/">www.duncanli.com/portfolio</a>
                    </div>
                </section>
                <section class="col3 pad_left2">
                    <h3>Email Us</h3>
                    <form id="ContactForm" action="#">
                        <div>
                            <div class="wrapper">
                                <span>Your Name:</span>
                                <div class="bg">
                                    <input type="text" class="input">
                                </div>
                            </div>
                            <div class="wrapper">
                                <span>Your E-mail:</span>
                                <div class="bg">
                                    <input type="text" class="input">
                                </div>
                            </div>
                            <div class="textarea_box">
                                <span>Your Message:</span>
                                <div class="bg2">
                                    <textarea name="textarea" cols="1" rows="1"></textarea>
                                </div>
                            </div>
                            <a href="#">Submit</a>
                        </div>
                    </form>
                </section>
            </div>
            <!-- {%FOOTER_LINK} -->
        </footer>
        <!-- / footer -->
    </div>
</body>
